<div class="container">
    <h2>Save Matches</h2>
    <table class="table  align-middle">
        <thead class="bg-light">
            <tr>
                <th>Click To Remove Match</th>
                <th>Match Id</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venue of listVenues">
                <td>
                    <div class="d-flex align-items-center">
                        <button type="button " class="border-0 bg-white bi bi-star-fill text-danger"
                            (click)="removeMatch(venue)">
                            &#9733;
                        </button>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1"> {{ venue.id }}</p>
                </td>
                <td>
                    <p class="fw-normal mb-2">{{venue.location.country}}</p>
                    <p class="text-muted mb-1">{{venue.location.state}}</p>
                    <p class="text-muted mb-0">{{venue.location.city}}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>