<header>
  <button class="btn btn-secondary m-2" (click)="toggletButton()"><i class="fa fa-bars fa-1x"
      aria-hidden="true"></i></button>
  <span class=" text-white">Assignment</span>
</header>
<div class="row">
  <div>
    <div class="drawer" [ngClass]="{ 'open': collapsed }">
      <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['All-Match']">All Matches</a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['Save-Match']">Save Matches</a>
        </li>
      </ul>
    </div>
  </div>
  <div [ngClass]="{'slidecontent':collapsed}">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>